# Copy this file to .env and replace values with your Razorpay test credentials.
RAZORPAY_KEY_ID=rzp_test_Snjwra0mwykmP1
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_Snjwra0mwykmP1
RAZORPAY_KEY_SECRET=kR18C9S3VLtXr3pu0gnOW7gp
